h1 {
                     color:yellow;
                     background-color:orange;
                     font-size:4,0em;
                     font-family:Arial;
                     font-style:italic;
                  }
p {
                      color:orange;
                      font-size:2.0em;
                      background-color:orange;
                  }
div{
                  	color:red;
                  	background-color:orange;
                    font-size:3em;
                    font-family:Arial;
                  }
footer{color:pink;
	   font-size:4em;

				  }
header{color:pink;
	   font-size:6em;

				  }